@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');
@import 'tailwindcss';


.text-bitcount {
  font-family: "Bitcount Grid Single", system-ui;
}

body, html {
  font-family: "Google Sans Code", monospace;
}

@keyframes bgPulse {
  0% {
    background-color: #d4d4d8;
  }
  50% {
    
    background-color: #f4f4f5;
  }
  100% {
   background-color: #d4d4d8;
  }
}

.animate-bg-zinc {
  animation: bgPulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}